.login-button {
    background: #FFA300;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    padding: 22px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    width: 235px;
    margin-bottom: 27px;
    cursor: pointer;
}

.login-button:not(.disabled):hover{
    background: #FF9000;
}

.login-button.disabled {
    background: #f5c36a;
    cursor: default;
}