.bet25-login-nem {
    justify-content: center;
    align-items: center;
}

.log-ind-med-link {
    font-size: 16px;
    text-decoration: none;
    margin-right: 10px;
}

.nem_id_logo {
    width: 75px;
    height: 17px;
    display: inline-block;
    background: url(../images/nem-id.png) no-repeat 0px -29px;
    background-size: cover;
}