.login-form-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.form-fields{
    background: #ffffff;
    max-width: 450px;
    box-shadow: 1px 1px 30px #B7B7B7;
    padding: 30px 30px 22px 30px;
    width: 82%;
    top: 22%;
    box-sizing: border-box;
    position: relative;
}

.form-fields-wrapper {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 300px;
}

.login-actions-wrapper {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 30px;
    min-height: 150px;
}

.login-field {
    display: block;
    border: none;
    box-shadow: 0px 0px 26px #EEEEEE;
    padding: 19px 18px 18px 40px;
    font-size: 14px;
    margin: 0 0 25px 0;
    color: #666666;
    box-sizing: border-box;
    width: 100%;
}

.login-field::-webkit-input-placeholder {
    color: #B0B0B0;
}

.user-name {
    background: url(../images/login-icon.png) no-repeat 12px 14px;
}

.password {
    background: url(../images/p_icon.png) no-repeat 12px 14px;
}

.forgot-password {
    font-size: 13px;
    float: right;
}
