.login-page-body {
    display: flex;
    flex-direction: column;
    flex: 1;
    z-index: 2;
}

.page-main-cover {
    width: 100%;
    height: 300px;
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 1;
    background: url(./images/main-bg.jpg) no-repeat 0px 50%, #ffffff;
    background-size: cover;
}